
/* Custom styles for Piano Heartbeat */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  text-align: center;
}

body, html {
  overflow: hidden;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
